version: '3'
services:
  contour-tiles:
    build: .
    image: joeakeem/contour-tiles
    volumes:
      - ./osm:/data
    depends_on:
      - postgres-osm
    environment:
      ATTRIBUTION: "©singletrail-map.eu ©OpenStreetMap"
      DESCRIPTION: ${DESCRIPTION}
      MIN_X: ${MIN_X}
      MAX_X: ${MAX_X}
      MIN_Y: ${MIN_Y}
      MAX_Y: ${MAX_Y}
      MIN_Z: ${MIN_Z}
      MAX_Z: ${MAX_Z}
      CONTOUR_JOBS: ${CONTOUR_JOBS}
      GDAL_CACHEMAX: ${GDAL_CACHEMAX}

  postgres-osm:
    image: kartoza/postgis:15-3.3
    volumes:
      - ./postgres-data:/var/lib/postgresql/data
    environment:
      ALLOW_IP_RANGE: "0.0.0.0/0"
      POSTGRES_USER: "contour"
      POSTGRES_PASS: "passwd"
